@{ ViewBag.Title = "About Us"; }

<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We are the best company.</p>
    <hr class="my-4">
    @Html.ActionLink("Give us your feedback", "Feedback", "Home", null, new { @class = "btn btn-primary" })
</div>