@{ ViewBag.Title = "Contact"; }


<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">Please contact us at:</p>
    <p>Phone: 08004521233</p>
    <p>Mail: hello@pizzaApp.com</p>
    <hr class="my-4">
    @Html.ActionLink("Give us your feedback", "Feedback", "Home", null, new { @class = "btn btn-primary" })
</div>