@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Pizza ordering application</h1>
    <p class="lead">This is the best application for ordering pizza!</p>
    <hr class="my-4">
    <p>Order now by clicking on the button below</p>
    <a class="btn btn-primary btn-lg" asp-controller="Order" asp-action="OrderPizza" role="button">Order now</a>
</div>
