@model Book

<div class="row">
    <div class="col-md-5">
        <form asp-action="CreateBook">
            <div class="form-group">
                <label asp-for="Title">Title: </label>
                <input asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Author">Author: </label>
                <input asp-for="Author" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create book" class="btn-primary" />
            </div>
        </form>
    </div>
</div>