@{
    ViewBag.Title = "Menu";
}

@model MenuViewModel

<h1 class="text-center">Pizza restaurant menu</h1>

<div class="row">
    @foreach (var pizza in Model.Pizzas)
    {
        <div class="col-md-3 offset-md-1 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/@pizza.Image" alt="@pizza.Name">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Price</p>
                    <p class="card-text">@pizza.PizzaSize</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>

