@model OrderDetailsViewModel
<ul>
    <li>
        Ordered by: @Model.User
    </li>
    <li>
        Pizza: @Model.Pizza
    </li>
    <li>
        Delivery price: @Model.DeliveryPrice
    </li>
</ul>