@model PizzaViewModel

<div class="row">
   <div class="col-md-6">
      <div class="input-group input-group-md">
         <span class="input-group-addon">
            @Html.LabelFor(expression: x => x.PizzaName)
         </span>
         @Html.TextBoxFor(x => x.PizzaName)
      </div>
   </div>
   <div class="col-md-6">
      <div class="input-group input-group-md">
         <span class="input-group-addon">
            @Html.LabelFor(expression: x => x.Size)
         </span>
         @Html.DropDownListFor(x => x.Size,
            Html.GetEnumSelectList(Model.Size.GetType()))
      </div>
   </div>
</div>
