@{ ViewBag.Title = "Thank You"; }

<div class="jumbotron">
   <h1>Thank you for ordering</h1>
   <p>Order again or leave us a feedback so we can improve!</p>
   <p>
      <button class="btn btn-danger btn-lg">
         @Html.ActionLink("Feedback", "Feedback", "Home")
      </button>
   </p>
</div>