@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel

<div class="jumbotron">
    <h1>Welcome to our pizza app!</h1>
    <h3>Today on promotion: @Model.PizzaOnPromotion</h3>
    <h4>We are popular! We have already had @Model.OrderCount orders! </h4>
</div>

