@{ ViewBag.Title = "About us"; }

<div class="jumbotron">
   <h1>About us</h1>
   <p>We are the best company!</p>
   <button class="btn btn-danger btn-lg">
      @Html.ActionLink("Feedback", "Feedback")
   </button>
</div>