@{
   ViewBag.Title = "Contact";
}

<div class="jumbotron">
   <h1>Contact</h1>
   <p>Please contact as at:</p>
   <p>Phone: 0038971999222</p>
   <p>Mail: somemail@somemail.com</p>
   <button class="btn btn-danger btn-lg">
      @Html.ActionLink("Feedback", "Feedback")
   </button>
</div>
