@model SEDC.AspNet.Mvc.Class03.App.Models.DataTransferModels.OrderDto

    <hr />
    <div class="row">
        <div class="col-12">
            Order No: @Model.Id | Pizza: @Model.Pizza.Name | Size: @Model.Pizza.Size | Price: @Model.Price $ |
            @{
                if (Model.Delivered)
                {
                    <button class="btn btn-warning">Delivered</button>
                }
                else
                {
                    <button class="btn btn-danger">Not Delivered</button>
                }
            }
        </div>
    </div>
