@model Book

<h2>Book details:</h2>
<label for="Id">@Model.Id</label>

@if (Model.Id == 1)
{
    @:<h4>This the book you have been looking for</h4>
}

@{
    Book book2 = StaticDB.Books.SingleOrDefault(q => q.Id.Equals(2));
    @:<h4>@book2.Title</h4>
}

@Html.Partial("DisplayBookDetailsPartialTAGHelpers", Model)
<h4>Publishing House Name: @ViewBag.PublishingHouseName</h4>