@model OrderItemViewModel

<div class="row">
   <div class="col-md-4">
      <h3>User: @Model.FirstName @Model.LastName</h3>
      <p><b>Price: </b>@Model.Price</p>
   </div>
   <div class="col-md-8">
      <h3>Pizzas:</h3>
      @foreach (var pizza in Model.Pizzas)
      {
         @Html.Partial("_PizzaItem", pizza)}
      <h5>+ 2$ delivery fee</h5>
   </div>
</div>