@model PizzaViewModel

<div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-4">
      <img height="150" src="~/images/@Model.Image" />
   </div>
   <div class="col-md-4">
      @Html.HiddenFor(x => x.Id)
      <h3>Pizza @Model.PizzaName</h3>
      <h4>@Model.Price$</h4>
   </div>
</div>