@{ ViewBag.Title = "Sorry"; }
<div class="jumbotron">
   <h1>Sorry but there is no order/address on this url</h1>
   <p>For any problems please contact us or leave feedback to help us improve</p>
   <p>
      <button class="btn btn-danger btn-lg">
         @Html.ActionLink("Feedback", "Feedback", "Home")
      </button>
   </p>
</div>