@model OrderViewModel

<h3>Create order:</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Location" class="custom-control-label"></label>
                <input type="text" asp-for="Location" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                @*creates select list with options where value is the value of the members and text is the name of the member of the enum*@
                <select class="form-control" asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethodEnum>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Delivered" class="control-label"></label>
                <input type="checkbox" asp-for="Delivered" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @*creates select list with options where value is Id and text is Fullname from the list of UserDDViewModel*@
                <select asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users, "Id", "FullName"))"></select>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>
</div>
